/* Tema Dark Mode */
html {
  background-color: #000000;
  color: #a0a0a0;
  background-image: none;
}

/* Gaya untuk elemen utama */
div.App___StyledDiv-sc-2l91w7-0.fnfeQw,
div.w-full.bg-neutral-900.shadow-md.overflow-x-auto {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Gaya scrollbar */
::-webkit-scrollbar {
  width: 10px !important;
}
::-webkit-scrollbar-track {
  background: #36393F !important;
}
::-webkit-scrollbar-thumb {
  background: #727272 !important;
  border-radius: 10px !important;
}

/* Gaya untuk tautan dan tombol */
a.GreyRowBox-sc-1xo9c6v-0 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
button.Button__ButtonStyle-sc-1qu1gou-0 {
  background-color: #7a0000 !important;
  border: #7a0000 2px solid !important;
  border-radius: 10px !important;
}
button.style-module_4LBM1DKx.style-module_3kBDV_wo {
  background-color: #7a0000 !important;
  border-radius: 10px !important;
}

/* Gaya untuk label dan input */
label.Label-sc-g780ms-0 {
  color: #a0a0a0 !important;
}
input.Input-sc-19rce1w-0,
textarea.Input__Textarea-sc-19rce1w-1 {
  background-color: rgba(61, 0, 1, 0.3) !important;
  border: 2px solid #470001 !important;
  color: #a0a0a0 !important;
}

/* Gaya modal dan elemen khusus */
div.Modal___StyledDiv2-sc-9vzni8-3.ekHIsr,
div.GreyRowBox-sc-1xo9c6v-0,
div.CodeMirror,
div.CodeMirror-gutters,
div.CodeMirror-overlayscroll-vertical {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Gaya untuk area fokus */
input.Input-sc-19rce1w-0:focus,
textarea.Input__Textarea-sc-19rce1w-1:focus {
  border: 2px solid #7a0000 !important;
}

/* Elemen lainnya */
div.grid.grid-cols-10 {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
div.TitledGreyBox___StyledDiv-sc-gvsoy-0 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
